# Python
__pycache__/
*.py[cod]
*.so
.Python

# Виртуальное окружение
.venv/
venv/
env/
.env

# IDE
.idea/
.vscode/
*.iml

# Данные (приватные!)
data/*.txt
*.log

# OS
.DS_Store
Thumbs.db

# Тесты
.pytest_cache/
tests/
tests/*.py
.coverage
htmlcov/
